:root {
  --bg-color: #ffffff;
  --text-color: #212529;
  --c-accent: #f39c12;
  --c-primary: #0d6efd;
  --transition-speed: 0.4s;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

.accent-text { color: var(--c-accent); font-style: italic; }
.ls-wide { letter-spacing: 2px; }